<html>
    <body>
        <h1>Delete Student</h1>
        <p>Are you sure you want to delete the following student?</p>
        <p>First Name: {{student.fname}}</p>
        <p>Last Name: {{student.lname}}</p>
        <p>Subject: {{student.subject}}</p>
        <form action="{{ url_for('deleteStudent', student_id=student.id) }}" method="post">
            <button type="submit">Delete</button>
            <a href='{{ url_for('showStudents') }}'>
                <button>Cancel</button>
            </a>
        </form>
    </body>
</html>